    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Post Fiat</h2>
                <p>Post Fiat Capital is one of the first institutionally focused crypto asset managers. </p>

                <p>Investors want to participate in the cryptocurrency revolution without outsized monthly volatility and drawdowns and recognize the benefit of active management in a space with a diversity of project viability, management execution capability and investor incentive alignment.</p>

                <p>Post Fiat achieves more consistent returns by hedging long positions with futures and derivatives. We aim to deliver attractive risk-adjusted returns with minimal relative volatility and competitive absolute returns vis-a-vis other asset classes. </p>

                <p>Post Fiat's founders have managed $1+ billion TMT portfolios at the world's largest hedge funds. They've started series A tech start ups, worked at Palantir, Goldman Sachs, Merrill Lynch, and Citi FX. </p>
            </div>
        </div>
    </section>
