<!-- Contact Section -->

    <section class="bg-primary text-white mb-0" id="team">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Team</h2>
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Alex Good - Alex has traded FX at Citi and long short equities at a $10B+ hedge fund. He is technical due to his time at Palantir and starting his own ad tech company, Perpetua, which raised $10m. </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Edward Paulsson - Edward has spent his career managing institutional long/short equity portfolios at some of the world's largest hedge funds. </p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="#">
            <i class="fa fa-download mr-2"></i>
            Download Now!
          </a>
        </div>
      </div>
    </section>
