<!-- Contact Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Team</h2>
                <hr class="star-primary">
            </div>

            <div class="row">
              <div class="col-sm-4"> 
                <figure>
                    <img src='img/alex_photo.png' alt='missing' width="195" height="288.4" />
                    <figcaption>Alex Good</figcaption>
                </figure>
                <p>Alex has worked in finance and technology</p>
              </div>
              
              <div class="col-sm-4">
                <figure>
                    <img src='img/alex_photo.png' alt='missing' width="195" height="288.4" />
                    <figcaption>Alex Good</figcaption>
                </figure>     
                <p>Alex has traded the things</p>             
              </div>

            </div>


        </div>



