<!-- Contact Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Team</h2>
                <hr class="star-primary">
            </div>

            
            <div id="container">
                <a href="#">
                    <figure>
                        <img src="img/alex_photo.png" width="195px" height="288.5px" />
                        <figcaption>Alex Good</figcaption>
                    </figure>
                </a>
                <a href="#">
                    <figure>
                         <img src="img/ed_photo.png" width="195px" height="288.5px" />
                        <figcaption>Edward Paulsson</figcaption>
                    </figure>
                </a>
            </div>



        </div>
            </div>
</section>
